./venv
.env
.temp_masters
**/**.pyc
**/**.pyo
**/**.log
dist
build
**/**/__pycache__
**/**.spec
*.json
*.dbf
dumm_data
**/**.exe
**/**.rar
**/**.zip
**/**.db
**/**.cdx
**/**.cwt
**/**.idx
**/**.ndx
**/**.ntx
**/**.ntx
**/**.fpt
**/**.spec
venv